# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Datasets
data/
datasets/
breast_cancer_data/

# Annotation and Output Files
annotation/
output/
results/
*.csv
*.tsv
*.json
*.pkl
*.parquet

# IDE and Editor
.idea/
.vscode/
*.swp
*~
.DS_Store

# PyTorch
*.pt
*.pth
*.safetensors

# Environment variables
.venv

# Logs and temporary files
*.log
temp/